@page
@model IndexModel
@{
    ViewData["Title"] = "Meeting Home";
}

<img src="~/images/sacrament.jpg" alt="Sacrament Meeting" height="780" width="1170" />

<h3 id="welcome">Welcome to the Sacrament Meeting Planner. Let's get Started. Click All Meetings to create your own weekly Planner.</h3>